@media (min-width: 1920px) {
	form.wrapp-inputs {
		margin-left: auto;
		margin-right: 476px;
	}
	div.wrapp-concert .swiper-container {
		margin-right: auto;
	}
}

@media (max-width: 1520px) {
	div.mid {
		margin-left: 64px;
		margin-top: 40px;
	}
	div.intro {
		margin-top: 99px;
	}
	div.intro h1 {
		font-size: 60px;
		line-height: 70px;
	}
	div.intro p {
		margin-top: 14px;
		padding-bottom: 30px;
		font-size: 30px;
		line-height: 30px;
	}
	div.r-main {
		margin-right: 64px;
		margin-top: 30px;
	}
	nav.l-side-nav {
		left: 264px;
		bottom: 50px;
	}
	/*section9*/
	h3.complects,
	h3.about-us,
	p.about-work,
	h3.portfolio,
	h3.contacts,
	div.trusted,
	.us-hr.p,
	hr.us-hr,
	ul.option-repairs {
		margin-left: 64px;
		margin-top: 40px;
		margin-right: unset;
	}
	div.fight-style,
	p.text,
	div.geo-phone div {
		margin-top: 20px;
	}
	div.fight-style p {
		font-size: 19px;
		line-height: 19px;
		bottom: 108px;
	}
	hr.us-hr,
	p.about-work,
	div.trusted {
		margin-top: 20px;
	}
	p.about-work {
		margin-right: 175px;
	}
	div.trusted {
		margin-right: 64px;
	}
	img.hf {
		width: 161px;
	}
	img.ep {
		width: 152px;
	}
	img.cc {
		width: 165px;
		margin-right: 30px;
	}
	img.mega {
		width: 195px;
	}
	img.improv {
		width: 176px;
	}
	img.dacha {
		width: 152px;
	}
	img.temp {
		width: 178px;
	}
	img.triumph {
		width: 234px;
	}
	div.wrapp-geo-phone {
		margin-top: 20px;
		margin-left: 64px;
	}
	div.call {
		margin-top: 24px;
	}
	div.call button {
		margin-top: 22px;
	}
	div.wrapp-complect {
		margin-top: 32px;
		margin-left: 64px;
	}
	div.wrapp-complect.two {
		margin-left: unset;
	}
	img.usilok {
		width: 164px;
	}
	div.order-open {
		max-width: 295px;
		margin-top: 32px;
		margin-right: 64px;
	}
	div.order-open p {
		margin-bottom: 104px;
	}
	#section5 .swiper-button-prev {
		top: 250px;
		left: 18px;
	}
	#section5 .swiper-button-next {
		top: 250px;
		right: 18px;
	}
	form.wrapp-inputs {
		margin-right: 64px;
		margin-left: auto;
	}
}

@media (max-width: 1280px) {
	nav.l-side-nav {
		left: 232px;
	}
	div.mid {
		margin-left: 32px;
	}
	div.intro {
		margin-top: 120px;
	}
	div.intro h1 {
		font-size: 50px;
		line-height: 66px;
	}
	div.intro hr {
		margin-top: 42px;
	}
	div.intro p {
		line-height: 42px;
	}
	div.r-main {
		margin-right: 32px;
		margin-top: 66px;
	}
	div.r-main button {
		margin-left: -32px;
	}
	/*section9*/
	h3.complects {
		margin-left: 32px;
	}
	.us-hr.p {
		margin-left: 32px;
	}
	p.text {
		margin-left: 32px;
		margin-right: 32px;
	}
	div.wrapp-repairs {
		margin-top: 62px;
	}
	ul.option-repairs {
		margin-left: 32px;
	}
	form.wrapp-inputs {
		margin-right: 32px;
		margin-left: auto;
	}
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	div.side {
		flex-direction: row;
		position: relative;
		z-index: 2;
		border-right: none;
		width: 100%;
	}
	div.side--nav-toggle {
		height: unset;
		margin: 49px 0 49px 48px;
		order: 1;
	}
	div.side--nav-toggle span {
		width: 42px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	div.side--nav-toggle::before {
		width: 42px;
	}
	div.side--nav-toggle::after {
		width: 25px;
	}
	div.star_prod_logo {
		margin: 45px 0 auto 0;
		order: 2;
	}
	.star_prod_logo a {
		display: flex;
		align-items: center;
	}
	.logo {
		width: 50px;
	}
	img.extra-logo {
		display: inline-block;
		margin-left: 21px;
	}
	.hr-side {
		display: none;
	}
	div.sms_icon {
		margin: 47px 51px 43px 0;
		order: 3;
	}
	ul.main-content {
		position: relative;
	}
	div.mid {
		margin-top: 98px;
		margin-left: 16px;
	}
	div.r-main {
		margin-right: 16px;
	}
	div.r-main button {
		position: absolute;
		top: 532px;
		right: 152px;
	}
	div.intro {
		margin-top: 77px;
	}
	div.intro h1 {
		font-size: 60px;
		line-height: 72px;
	}
	div.intro h1 span {
		display: none;
	}
	div.intro hr {
		margin-top: 26px;
	}
	div.intro p {
		font-size: 30px;
		line-height: 36px;
		margin-top: 42px;
	}
	div.intro button {
		line-height: 70px;
		margin-top: 27px;
	}
	ul.open-nav {
		position: absolute;
	}
	nav.l-side-nav {
		left: 201px;
		bottom: 21px;
	}
	div.social {
		bottom: 231px;
	}
}