@font-face{
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.eot');
	src: url('../fonts/GothamPro.eot?iefix') format('eot'),
	url('../fonts/GothamPro.woff') format('woff'),
	url('../fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.eot');
	src: url('../fonts/GothamPro-Bold.eot?iefix') format('eot'),
	url('../fonts/GothamPro-Bold.woff') format('woff'),
	url('../fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
body, html {
	width: 100%;
	height: 100%;
	font: 21px 'Gotham Pro', sans-serif;
	font-style: normal;
	font-size: 21px;
	line-height: 27px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0
}
p {
	margin: 0;
}
a {
	color: #333333;
}
a:hover {
	color: #333333;
	text-decoration: none;
}
hr {
	margin: 0;
	border: none;
}
.ymaps-2-1-73-controls__control {
	left: auto !important;
	right: 82px !important;
	top: 269px !important;
}
.ymaps-2-1-73-zoom {
	padding: 0 !important;
	height: 134px !important;
}
.ymaps-2-1-73-zoom__scale {
	display: none;
}
.ymaps-2-1-73-zoom__minus,
.ymaps-2-1-73-zoom__plus {
	background: rgba(228, 61, 61, 0.4) !important;
	border-radius: 100px !important;
	width: 51px !important;
	height: 51px !important;
}

.ymaps-2-1-73-float-button-icon {
	border: 17px solid transparent !important;
}
.ymaps-2-1-73-map-copyrights-promo {
	display: none;
}
.ymaps-2-1-73-controls__control_toolbar {
	display: none !important;
}
.ymaps-2-1-73-copyright {
	display: none !important;
}
.ymaps-2-1-73-controls__bottom {
	display: none;
}
.swiper-button-next {
	background-image: url(../img/next-btn.svg);
	background-size: unset;
	right: 128px;
	width: 31px;
	height: 31px;
	margin: 0;
}
.swiper-button-prev {
	background-image: url(../img/prev-btn.svg);
	background-size: unset;
	left: 143px;
	width: 31px;
	height: 31px;
	margin: 0;
}
#section6 .swiper-button-next {
	right: 0;
}
#section6 .swiper-button-prev {
	left: 0;
}
#section7 .swiper-button-next,
#section8 .swiper-button-next {
	right: 352px;
}
#section7 .swiper-button-prev,
#section8 .swiper-button-prev {
	left: 153px;
}
.perspective {
	position: relative;
	max-width: 2560px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.container {
	display: flex;
	position: relative;
	padding: 0;
	max-width: 100%;
	height: 100%;
}
.side {
	position: relative;
	background: #fff;
	border-right: 1px solid #DEDCDC;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hr-side {
	position: absolute;
	bottom: 133px;
	width: 199px;
	height: 2px;
	background: #DEDCDC;
}
.star_prod_logo {
	margin-top: 50px;
	margin-left: 49px;
	margin-right: 54px;
	cursor: pointer;
	display: flex;
}
.extra-logo {
	display: none;
}
.side--nav-toggle {
	display: flex;
	flex-direction: column;
	height: 31px;
	margin: 0 74px 0 69px;
	cursor: pointer;
}
.side--nav-toggle span {
	width: 55px;
	height: 4px;
	margin-top: 10px;
	margin-bottom: 9px;
	background: #413C3C;
}
.side--nav-toggle::before {
	content: '';
	position: relative;
	width: 55px;
	height: 4px;
	background: #413C3C;
}
.side--nav-toggle::after {
	content: '';
	position: relative;
	width: 27px;
	height: 4px;
	background: #413C3C;
}
.outer-nav {
    display: none;
}
.open-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: #eee;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 1721px;
    width: 100%;
    z-index: 2;
}
.open-nav li:first-child {
	margin-top: 0;
}
.open-nav li {
	font-weight: 700;
	font-size: 50px;
	line-height: 30px;
	margin-top: 56px;
	color: #322F2F;
}
.open-nav li:hover {
	text-decoration: underline;
}
.open-nav li.is-active {
	background: transparent;
	text-decoration: underline;
}
.sms_icon {
    cursor: pointer;
    margin: 0 75px 42px 71px;
    width: fit-content;
}
.main-content {
	position: relative;
	width: 100%;
	min-height: 100%;
}
.l-section {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(229, 229, 229, 0.4);
}
.section {
	opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s ease-in-out,visibility 0s .4s;
    transition: opacity .4s ease-in-out,visibility 0s .4s;
}
.section--is-active {
	opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transition: opacity .4s ease-in-out .4s;
    transition: opacity .4s ease-in-out .4s;
}
.wrapp-main {
	display: flex;
	height: 100%;
}
#section1 {
	background-image: url(../img/photo-back.jpg);
	background-repeat: no-repeat;
}
.mid {
	margin-left: 198px;
	margin-top: 80px;
}
.phone a {
	line-height: 20px;
	font-weight: 700;
}
.intro {
	margin-top: 198px;
}
.intro h1 {
	font-size: 70px;
    line-height: 84px;
    font-weight: 900;
}
.intro hr {
	width: 150px;
	height: 7px;
	margin-top: 14px;
	background: #DC0000;
}
.intro p {
	font-size: 35px;
    line-height: 35px;
    margin-top: 43px;
    padding-bottom: 50px;
    font-weight: 700;
}
.intro button {
	border: none;
	padding: 0;
	border-radius: 100px;
	background: #DC0000;
	font-size: 17px;
    line-height: 84px;
    color: #fff;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 6px;
}
.l-side-nav {
	position: absolute;
	left: 401px;
	bottom: 81px;
	z-index: 2;
}
.l-side-nav ul {
	display: flex;
}
.l-side-nav li {
	display: flex;
	margin-left: 25px;
	background: #DBD8D8;
	border-radius: 20px;
}
.l-side-nav span {
	width: 15px;
	height: 15px;
} 
li.is-active {
	background: #DC0000;
}
.l-side-nav li:first-child {
	margin-left: 0;
}
.r-main {
	margin-top: 60px;
	margin-right: 202px;
	position: relative;
}
.r-main button {
	border: 2px solid #949191;
	padding: 0;
	border-radius: 100px;
	background: transparent;
	font-size: 15px;
	line-height: 46px;
	width: 209px;
}
.filled {
	margin-top: 190px;
	display: flex;
	justify-content: flex-end;
}
.filled img {
	cursor: pointer;
}
.social {
	position: absolute;
	right: 0;
	bottom: 78px;
}
.social div {
	display: flex;
	justify-content: flex-end;
}
.social div img {
	cursor: pointer;
}
.about-us {
	width: fit-content;
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    margin-left: 201px;
    margin-top: 80px;
    padding-bottom: 10px;
}
.us-hr {
	width: 120px;
	height: 7px;
	margin-left: 201px;
	margin-top: 13px;
	background: #DC0000;
}
.about-work {
    margin-left: 201px;
    margin-right: 491px;
    margin-top: 40px;
}
.trusted {
    margin-left: 201px;
    margin-right: 272px;
    margin-top: 84px;
}
.trusted-label {
	display: flex;
	justify-content: space-between;
}
.trusted-label div {
	display: flex;
	align-items: center;
}
.cc {
	margin-right: 36px;
}
.mega {
	margin-right: 8px;
}
.portfolio {
	font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-left: 201px;
    margin-top: 82px;
    padding-bottom: 6px;
}
.us-hr.p {
	margin-top: 20px;
}
.fight-style {
	position: relative;
	margin-top: 18px;
	margin-left: 201px;
	margin-right: 203px;
}
.fight-style p {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	bottom: 138px;
	font-size: 25px;
	line-height: 25px;
	padding-bottom: 25px;
	color: #ffffff;
}
.contacts {
	font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-left: 201px;
    margin-top: 80px;
    padding-bottom: 6px;
}
.wrapp-map {
	display: flex;
	height: 100%;
}
#map {
	width: 750px;
	height: 675px;
	position: relative;
	margin-left: 123px;
	margin-right: 200px;
	border: 4px solid #DC0000;
}
.wrapp-geo-phone {
	margin-left: 201px;
	margin-top: 136px;
}
.geo-phone {

}
.geo-phone div {
	display: flex;
	margin-top: 40px;
}
.geo-phone div:first-child {
	margin-top: 0;
}
.geo-phone img {
	height: fit-content;
}
.geo-phone p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 54px;
	line-height: 25px;
}
.call {
	margin-top: 48px;
	margin-left: 104px;
}
.soc-icon {
	display: flex;
}
.soc-icon div:last-child {
	margin-left: 35px;
}
.soc-icon div {
	width: 60px;
    height: 60px;
    background: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}
.call button {
	border: 3px solid #DC0000;
	border-radius: 100px;
	padding: 16px 35px 15px 35px;
	margin-top: 44px;
	background: transparent;
	line-height: 21px;
	font-size: 18px;
	font-weight: 700;
	color: #696363;
}
.complects {
	font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-left: 201px;
    margin-top: 80px;
    padding-bottom: 6px;
}
.text {
	display: flex;
	flex-direction: column;
	margin-top: 34px;
	margin-left: 201px;
}
.swiper-slide {
	display: flex;
	justify-content: space-between;
}
#section6 .swiper-slide {
	justify-content: center;
}
.wrapp-complect {
	margin-top: 104px;
	margin-left: 201px;
	width: fit-content;
	background: #fff;
}
.wrapp-complect.two {
	margin-left: unset;
}
.usilok {
	margin: 5px 60px 0 71px;
}
.wrapp-order {
	margin-top: 18px;
	display: flex;
	justify-content: space-between;
}
.order {
	margin-left: 20px;
}
.order p {
	font-weight: 700;
	font-size: 17px;
	line-height: 17px;
	color: #413F3F;
}
.order a {
	font-size: 11px;
	line-height: 17px;
	color: rgba(65, 63, 63, 0.7);
}
.order-open {
	margin-top: 104px;
    margin-right: 195px;
    max-width: 355px;
    background: #fff;
}
.order-open p {
	font-size: 11px;
    line-height: 17px;
    margin: 16px 29px 224px 30px;
}
.order-open a {
	margin-top: 30px;
	margin-left: 30px;
}
.order-img {
	display: flex;
	font-size: 11px;
	line-height: 17px;
	color: rgba(65, 63, 63, 0.7);
	margin-top: 10px;
}
.rent {
	margin-right: 20px;
}
.rent p {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 17px;
	color: #413F3F;
}
.rent p span {
	color: #DC0000;
	margin-top: 11px;
}
.wrapp-btn {
	display: flex;
	justify-content: center;
	margin-top: 22px;
	margin-bottom: 30px;
}
.wrapp-btn button {
	background: #DC0000;
	color: #FFFFFF;
	border: 2px solid #DC0000;
	border-radius: 100px;
	font-weight: 700;
	font-size: 16px;
	line-height: 17px;
	padding: 6px 32px 7px 32px;
}
.wrapp-concert {
	display: flex;
}
.wrapp-input {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 427px;
	height: fit-content;
	margin-top: 45px;
	margin-left: 201px;
	border: 2px solid #DC0000;
	border-radius: 5px;
	background: #fff;
}
.wrapp-input input[type=file] {
	width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
.wrapp-input label {
	display: flex;
	justify-content: center;
	border: 2px solid #C4C3C3;
	background: #fff;
	padding: 7px 0 6px 0;
	border-radius: 5px;
	width: 304px;
	font-size: 13px;
	line-height: 17px;
	color: #C8C4C4;
	margin-bottom: 0;
	margin-top: 40px;
}
.wrapp-input input[type=tel] {
	border: 2px solid #C4C3C3;
	padding-bottom: 2px;
	border-radius: 5px;
	width: 304px;
	margin-top: 30px;
}
.wrapp-input input[type=tel]::-webkit-input-placeholder {
	text-align: center;
	font-size: 13px;
	line-height: 17px;
	color: #C8C4C4;
}
.wrapp-input input[type=submit] {
	background: #DC0000;
	border: none;
	border-radius: 100px;
	color: #fff;
	width: 308px;
	height: 33px;
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 15px;
	line-height: 17px;
	padding-top: 2px;
}
.wrapp-input p:first-child {
	width: fit-content;
	padding-bottom: 2px;
	margin-top: 40px;
	font-size: 20px;
	line-height: 17px;
	font-weight: 700;
	color: #403F3F;
}
.wrapp-input p:nth-child(2) {
	width: fit-content;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	line-height: 15px;
	padding-bottom: 4px;
	color: #413F3F;
	align-items: center;
}
.wrapper-complects {
	margin-top: 45px;
	margin-left: 201px;
}
.wrapper-complects.three {
	margin-left: 27px;
	margin-right: 400px;
}
.wrapp-concert .wrapper-complects {
	margin-left: 0;
}
.wrapper-complects.two {
	margin-left: 27px;
}
.wrapp-concert .swiper-container {
	width: 845px;
	margin-right: 94px;
    margin-left: auto;
}
.wrapp-concert .swiper-wrapper {
	justify-content: unset;
}
.wrapper-complect {
	display: flex;
	max-width: 355px;
	background: #fff;
}
.wrapper-complect:nth-child(2) {
	margin-top: 28px;
}
.complect-img {
	margin: 26px 0 19px 19px;
}
.wrapper-order {
	margin-left: 20px;
	margin-right: 16px;
}
.wrapper-order h6 {
	font-size: 17px;
	line-height: 17px;
	font-weight: 700;
	margin-top: 20px;
}
.wrapper-order .order-img {
	margin-top: 7px;
}
.wrapper-order p {
	font-size: 13px;
	line-height: 17px;
	color: #757474;\
	margin-top: 7px;
}
.order-btn {
	font-size: 12px;
	line-height: 17px;
	color: #E93F3F;
	margin-top: 4px;
}
.order-btn:hover {
	text-decoration: underline;
	color: #E93F3F;
}
.slidee {
	display: flex;
	justify-content: space-between;
	opacity: 0;
	transition: opacity 1s;
}
.show {
	opacity: 1;
    z-index: 2;
}
#prev {
	display: flex;
	position: absolute;
	top: 551px;
	right: 963px;
	left: unset;
	cursor: pointer;
}
#prev img {
	transform: scale(-1, 1);
}
#nex {
	display: flex;
	position: absolute;
	top: 551px;
	right: 127px;
	cursor: pointer;
}
#sliderItems .wrapper-complects {
	display: flex;
	margin-top: 47px;
	margin-left: 201px;
}
#sliderItems .wrapper-complects.two {
	display: flex;
	margin-top: 28px;
	margin-left: 201px;
}
#back {
	display: flex;
	position: absolute;
	top: 241px;
	left: 143px;
	cursor: pointer;
}
#back img {
	transform: scale(-1, 1);
}
#forward {
	display: flex;
	position: absolute;
	top: 241px;
	right: 351px;
	cursor: pointer;
}
#section7 .form,
#section8 .form {
	position: relative;
}
#section7 button,
#section8 button {
	display: flex;
	position: absolute;
	right: 400px;
	bottom: -79px;
	background: #DC0000;
    border: 2px solid #DC0000;
    border-radius: 100px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
}
#section7 button a,
#section8 button a {
	color: #ffffff;
    padding: 6px 2px 7px;
}
.wrapp-repairs {
	display: flex;
	margin-top: 123px;
}
.option-repairs {
	font-size: 18px;
	line-height: 17px;
	color: #413F3F;
	margin-left: 201px;
}
.option-repairs li {
	display: flex;
	align-items: center;
}
.option-repairs img {
	margin-right: 18px;
}
.option-repairs li:nth-child(2) img {
	margin-right: 16px;
	margin-left: 2px;
}
.option-repairs li:nth-child(4) img {
	margin-left: 3px;
}
.option-repairs li:nth-child(6) img {
	margin-right: 19px;
	margin-left: 2px;
}
.option-repairs li:nth-child(7) img {
	margin-right: 14px;
}
.option-repairs li:nth-child(8) img {
	margin-right: 16px;
	margin-left: 1px;
}
.option-repairs li:nth-child(2),
 .option-repairs li:nth-child(4),
 .option-repairs li:nth-child(5) {
	margin-top: 26px;
}
.option-repairs li:nth-child(3) {
	margin-top: 23px;
}
.option-repairs li:nth-child(6) {
	margin-top: 27px;
}
.option-repairs li:nth-child(7) {
	margin-top: 25px;
}
.option-repairs li:nth-child(8) {
	margin-top: 21px;
}
.wrapp-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 399px;
	height: fit-content;
	border: 2px solid #DC0000;
	border-radius: 5px;
	margin-left: 254px;
	background: #fff;
}
.wrapp-inputs input[type=text] {
	border: 2px solid #C4C3C3;
	padding: 19px 0 51px 19px;
	border-radius: 5px;
	width: 319px;
	margin-top: 20px;
}
.wrapp-inputs input[type=text]::-webkit-input-placeholder {
	text-align: left;
	font-size: 13px;
	line-height: 17px;
	color: #C8C4C4;
}
.wrapp-inputs input[type=tel] {
	border: 2px solid #C4C3C3;
	padding: 0 0 3px 19px;
	border-radius: 5px;
	width: 319px;
	margin-top: 40px;
}
.wrapp-inputs input[type=tel]::-webkit-input-placeholder {
	text-align: left;
	font-size: 13px;
	line-height: 17px;
	color: #C8C4C4;
}
.wrapp-inputs input[type=submit] {
	background: #DC0000;
	border: none;
	border-radius: 100px;
	color: #fff;
	width: 319px;
	height: 33px;
	margin-top: 30px;
	margin-bottom: 38px;
	font-size: 15px;
	line-height: 17px;
	padding-top: 2px;
}
.wrapp-inputs p:first-child {
	width: fit-content;
	padding-bottom: 1px;
	margin-top: 38px;
	font-size: 20px;
	line-height: 17px;
	font-weight: 700;
	color: #403F3F;
}
.wrapp-inputs p:nth-child(2) {
	width: fit-content;
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	line-height: 17px;
	padding-bottom: 2px;
	color: #413F3F;
	align-items: center;
}